body {
  padding-top: 80px;
}

/******************************************************************************/

.navbar {
    background-color: white;
    border: none;
    height: 80px;
}

.navbar-header {
  height: 80px;
}

.navbar-toggle {
  margin-top: 17px;
  margin-bottom: 17px;
}

.navbar-brand {
  padding-top: 15px;
}

.navbar .navbar-header .icon-bar {
  width: 100%;
  height: 2px;
  background-color: #200e11;
}

.navbar .navbar-header .menu-label {
  color: black;
font-weight: 400;
  font-size: 8px;
  letter-spacing: .7px;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: -4px;
}

.nav {
  padding-top: 15px;
}

.navbar-nav {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

/*.navbar {
  font-size: 18px;
}*/

/******************************************************************************/

.header {
  /* background image */
  background-image: url(../images/love-drought.jpg);
  /* full height */
  height: 700px;
  /* size ans scale image */
  background-size: cover;
  background-position: center;
  /*background-attachment: fixed;*/

}


.col-sm-6 {
  border-top: 200px;
}
.container {
border-top: 200px;
}


.intro {
  background-color: #c8a966;
  /*top: 500px;*/
  /*width: 500px;*/
  color: white;
}

.upcoming {
  background-color: #f2f2f2;
  color: white;
}

@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);


.social-icons a {
    color: #fff;
    display: inline;
}

.fa-facebook {
    padding:10px 14px;
    /*transition: .5s;*/
}

.fa-twitter{
    padding:10px 12px;
    /*transition: .5s;*/
}

.fa-instagram {
    padding:10px 12px;
    /*transition: .5s;*/
}

.fa-facebook:hover {
    background-color: #3b5998;
    border-radius: 50%;
}

.fa-twitter:hover {
    background-color: #00aced;
    border-radius: 50%;
}

.fa-instagram:hover {
    background-color: #bc2a8d;
    border-radius: 50%;
}
