body {
  padding-top: 80px;
  color: black;
  position: relative;
}

.navbar {
    background-color: white;
    border: none;
    height: 80px;
}

.navbar-brand {
  padding-top: 15px;
}

.nav {
  padding-top: 15px;
  align-content: center;
}

.navbar-nav {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

/*.navbar {
  font-size: 18px;
}*/

.header {
  /* background image */
  background-image: url(../images/love-drought.jpg);
  /* full height */
  height: 700px;
  /* size ans scale image */
  background-size: cover;
  background-position: center;
  /*background-attachment: fixed;*/

}


.col-sm-6 {
  border-top: 200px;
}
.container {
border-top: 200px;
}


.intro {
  background-color: #c8a966;
  /*top: 500px;*/
  /*width: 500px;*/
  color: white;
}

.upcoming {
  background-color: #f2f2f2;
  color: white;
}

@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);


.social-icons a {
    color: #fff;
    display: inline;
}

.fa-facebook {
    padding:10px 14px;
    /*transition: .5s;*/
}

.fa-twitter{
    padding:10px 12px;
    /*transition: .5s;*/
}

.fa-instagram {
    padding:10px 12px;
    /*transition: .5s;*/
}

.fa-facebook:hover {
    background-color: #3b5998;
    border-radius: 50%;
}

.fa-twitter:hover {
    background-color: #00aced;
    border-radius: 50%;
}

.fa-instagram:hover {
    background-color: #bc2a8d;
    border-radius: 50%;
}
